{% extends 'index.html' %}
{% load static %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block content %}
<div class="container">
	<!-- Content
    ================================================== -->
	<div class="main-content">
		<section>
			<div class="section-title">
				<h2><span>About Us</span></h2>
			</div>
			<div class="article-post">
				{{ flatpage.content }}
			</div>
			<div id="comments" class="row mb-5">
				<div class="col-md-8">
					<section class="disqus">
						<div id="disqus_thread">
						</div>
						<script type="text/javascript">
							var disqus_shortname = 'demowebsite';
							var disqus_developer = 0;
							(function () {
								var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>
							Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
								powered by Disqus.</a>
						</noscript>
					</section>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- /.container -->
{% endblock %}