{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">
	<!-- Content (replace with your e-mail address below)
    ================================================== -->
	<div class="main-content">
		<section>
			<div class="section-title">
				<h2><span>Contact</span></h2>
			</div>
			<div class="article-post">
				<form id="contact-form" method="POST">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" type="text" required id='contact-name' name="name"
								placeholder="Name">
						</div>
						<div class="col-md-6">
							<input class="form-control" type="email" required id='contact-email' name="email"
								placeholder="E-mail Address">
						</div>
					</div>
					<textarea rows="8" class="form-control mb-3" required id='contact-message' name="message"
						placeholder="Message"></textarea>
					<input class="btn btn-success" type="submit" value="Send">
				</form>
			</div>
		</section>
	</div>
</div>
<!-- /.container -->


{% endblock %}
{% block script %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}