{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
    /* brands-container */
    .brands-container {}

    .brand {
        margin: 2px;
        display: inline-block;
        padding: 5px;
        background-color: #0274d854 !important;
        border-radius: 8px;
        border: solid 2px #0275d8;
    }

    .brand a {
        color: #0275d8;
    }
</style>
<!-- Home Jumbotron
    ================================================== -->
<section class="intro">
    <div class="wrapintro">
        <h1 class="btn">MuzTech</h1>
        {% if 1 == 2 %}
        <form action="" method="post" class="form-group">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-md-8">
                    <input class="form-control" type="text" name="" placeholder="Search">
                </div>
                <div class="col-md-2">
                    <input class="btn" type="submit">
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</section>
<!-- Container
    ================================================== -->
<div class="container">
    <div class="main-content">
        <!-- Featured
                ================================================== -->
        {% comment "Optional note" %}
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Featured</span></h2>
            </div>
            <div class="row listfeaturedtag">
                <!-- begin post -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 wrapthumbnail">
                                <a href="kkkkkk">
                                    <div class="thumbnail" style="background-image:url(assets/images/1.jpg);">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="card-block">
                                    <h2 class="card-title"><a href="kkkkkk">We all wait for summer</a></h2>
                                    <h4 class="card-text">This is changed. As I engage in the so-called “bull
                                        sessions” around and about the school, I too often find that most
                                        college men have...</h4>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="meta-footer-thumb">
                                                <img class="author-thumb"
                                                    src="https://www.gravatar.com/avatar/b1cc14991db7a456fcd761680bbc8f81?s=250&d=mm&r=x"
                                                    alt="John">
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name"><a target="_blank"
                                                        href="#">John</a></span><br />
                                                <span class="post-date">12 Jan 2018</span>
                                            </span>
                                            <span class="post-read-more"><a href="kkkkkk" title="Read Story"><i
                                                        class="fa fa-link"></i></a></span>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
                <!-- begin post -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 wrapthumbnail">
                                <a href="kkkkkk">
                                    <div class="thumbnail" style="background-image:url(assets/images/4.jpg);">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="card-block">
                                    <h2 class="card-title"><a href="kkkkkk">Powerful things you can do with
                                            the Markdown editor</a></h2>
                                    <h4 class="card-text">There are lots of powerful things you can do with the
                                        Markdown editor </h4>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="meta-footer-thumb">
                                                <img class="author-thumb"
                                                    src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&d=mm&r=x"
                                                    alt="Sal">
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name"><a target="_blank" href="#">Sal</a></span><br />
                                                <span class="post-date">12 Jan 2018</span>
                                            </span>
                                            <span class="post-read-more"><a href="kkkkkk" title="Read Story"><i
                                                        class="fa fa-link"></i></a></span>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            </div>
        </section>
        {% endcomment %}

        <!-- Posts Index
            ================================================== -->
        <section class="recent-posts row">
            {% include 'parts/sidebar.html' %}
            <div class="col-sm-8">
                <div class="section-title">
                    <h2><span>All Stories</span></h2>
                </div>
                <div class="masonrygrid row listrecent">
                    {% for article in articles %}
                    <!-- begin post -->
                    <div class="col-md-6 grid-item">
                        <div class="card">
                            <a href="{% url 'article' article.slug %}">
                                <img class="img-fluid" src="{{article.image_url}}"
                                    alt="{{article.title|slice:':20'}}...">
                            </a>
                            <div class="card-block">
                                <h2 class="card-title"><a
                                        href="{% url 'article' article.slug %}">{{article.title|slice:':20'}}...</a>
                                </h2>
                                <h4 class="card-text">{{article.content|safe|slice:':100'}}...</h4>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <!-- <span class="meta-footer-thumb">
                                            <img class="author-thumb"
                                                src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&d=mm&r=x"
                                                alt="Sal">
                                        </span> -->
                                        <span class="author-meta">
                                            <!-- <span class="post-name"><a target="_blank" href="#">Sal</a></span><br /> -->
                                            <span class="post-date">{{article.published_at}}</span>
                                        </span>
                                        <span class="post-read-more"><a href="{% url 'article' article.slug %}"
                                                title="Read Story"><i class="fa fa-link"></i></a></span>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post -->
                    {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="bottompagination">
                    <div class="navigation">
                        <nav class="pagination">
                            <span class="page-number"> &nbsp; &nbsp; Page 1 of 1 &nbsp; &nbsp; </span>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /.container -->
<!-- Before Footer
    <div class="masonrygrid row listrecent"></div>
    ================================================== -->
<div class="beforefooter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3>This is your final call to action area. Shine like a star, make them want you, tell 'em to
                    push that button!</h3>
                <p>
                    We offer a <span>30 Day Money Back Guarantee</span>, so joining is Risk-Free!
                </p>
                <a class="btn btn-primary btn-lg" href="#">Join us yesterday</a>
            </div>
            <div class="col-md-4 text-right footersocial">
                <h5>Connect with Us</h5>
                <a href="">
                    <i class="fa fa-facebook"></i>
                </a>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google"></i>
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-github"></i>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     * Easy selector helper function
     */
    const select = (el, all = false) => {
        el = el.trim()
        if (all) {
            return [...document.querySelectorAll(el)]
        } else {
            return document.querySelector(el)
        }
    }

    /**
     * Easy event listener function
     */
    const on = (type, el, listener, all = false) => {
        if (all) {
            select(el, all).forEach(e => e.addEventListener(type, listener))
        } else {
            select(el, all).addEventListener(type, listener)
        }
    }

    /**
     * Easy on scroll event listener 
     */
    const onscroll = (el, listener) => {
        el.addEventListener('scroll', listener)
    }
    /**
     * Fetch devices data event listener function 
     */
    const fetchDevices = () => {
        console.log(homeDevices)
        if (phonesDevices) {
            if (homeDevices === null) {
                async function getDevices() {
                    let response = await fetch('/api/devices-list', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    homeDevices = await response.json()
                    homeDevices = homeDevices['results']

                    homeDevices.map(function (device) {
                        var deviceDiv = document.createElement("div");
                        deviceDiv.innerHTML = ` <div class="device">
                        <div class="image">
                            <img src="${device['image']}"
                                class="device-img" />
                        </div>
                        <div class="device-details-link">
                            <a href="/devices/${device['brand']}/${device['slug']}" class="device-title">${device['model']}</a>
                        </div>
                    </div>`
                        phonesDevices.appendChild(deviceDiv)
                        return
                    })
                }
                getDevices()
            }
        }
    }
    window.addEventListener('load', fetchDevices)

    /**
     * Append new devices to the page event listener function 
     */
    // const appendDevices = () => {
    //     if (phonesDevices.scrollLeft == phonesDevices.scrollWidth - phonesDevices.clientWidth) {
    //         let j = document.querySelector('#phones-devices')
    //         console.log(homeDevices.slice(0, 3))
    //         console.log(homeDevices)
    //     }
    // }

    let homeDevices = null
    let phonesDevices = select('#phones-devices')

</script>
{% endblock %}
{% block script %}
<script src="{% static 'js/subscribe-newsletter.js' %}"></script>
<!-- <script src="{% static 'js/devices.js' %}"></script> -->
{% endblock %}