{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Home Jumbotron
    ================================================== -->
<section class="intro">
    <div class="wrapintro">
        <h1 class="btn">MuzTech</h1>
        {% if 1 == 2 %}
        <form action="" method="post" class="form-group">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-md-8">
                    <input class="form-control" type="text" name="" placeholder="Search">
                </div>
                <div class="col-md-2">
                    <input class="btn" type="submit">
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</section>
<!-- Container
================================================== -->
<div class="container">
    <div class="main-content">
        {% if 1 == 2 %}
        <!-- Featured
        ================================================== -->
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Featured</span></h2>
            </div>
            <div class="row listfeaturedtag">
                <!-- begin post -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 wrapthumbnail">
                                <a href="#">
                                    <div class="thumbnail"
                                        style="background-image:url({% static 'assets/images/1.jpg' %});">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="card-block">
                                    <h2 class="card-title"><a href="#">We all wait for summer</a></h2>
                                    <h4 class="card-text">This is changed. As I engage in the so-called “bull
                                        sessions” around and about the school, I too often find that most
                                        college men have...</h4>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="meta-footer-thumb">
                                                <img class="author-thumb"
                                                    src="https://www.gravatar.com/avatar/b1cc14991db7a456fcd761680bbc8f81?s=250&d=mm&r=x"
                                                    alt="John">
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name"><a target="_blank"
                                                        href="#">John</a></span><br />
                                                <span class="post-date">12 Jan 2018</span>
                                            </span>
                                            <span class="post-read-more"><a href="#" title="Read Story"><i
                                                        class="fa fa-link"></i></a></span>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
                <!-- begin post -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 wrapthumbnail">
                                <a href="#">
                                    <div class="thumbnail"
                                        style="background-image:url({% static 'assets/images/4.jpg' %});">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="card-block">
                                    <h2 class="card-title"><a href="#">Powerful things you can do with
                                            the Markdown editor</a></h2>
                                    <h4 class="card-text">There are lots of powerful things you can do with the
                                        Markdown editor </h4>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="meta-footer-thumb">
                                                <img class="author-thumb"
                                                    src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&d=mm&r=x"
                                                    alt="Sal">
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name"><a target="_blank" href="#">Sal</a></span><br />
                                                <span class="post-date">12 Jan 2018</span>
                                            </span>
                                            <span class="post-read-more"><a href="#" title="Read Story"><i
                                                        class="fa fa-link"></i></a></span>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            </div>
        </section>
        <!-- Posts Index
    ================================================== -->
        {% endif %}
        <section class="recent-posts row">
            {% include 'parts/sidebar.html' %}
            <div class="col-sm-8">
                <div class="section-title">
                    <h2><span>All Stories</span></h2>
                </div>
                <div class="masonrygrid row listrecent">
                    {% for article in articles %}
                    <!-- begin post -->
                    <div class="col-md-6 grid-item">
                        <div class="card">
                            <a href="{% url 'article' article.slug %}">
                                <img class="img-fluid" src="{{article.image_url}}" max-height="390px" alt="Tree of Codes">
                            </a>
                            <div class="card-block">
                                <h2 class="card-title"><a href="{% url 'article' article.slug %}">{{article.title}}</a>
                                </h2>
                                <h4 class="card-text">{{article.description|slice:':100'}}..</h4>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <span class="author-meta">
                                            <span class="post-date">{{article.published_at}}</span>
                                        </span>
                                        <span class="post-read-more">
                                            <a href="{% url 'article' article.slug %}" title="Read Story">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </span>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post -->
                    {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="bottompagination">
                    <div class="navigation">
                        <nav class="pagination">
                            <!-- <span class="page-number"> &nbsp; &nbsp; Page 1 of 1 &nbsp; &nbsp; </span> -->
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /.container -->
<!-- Before Footer
    ================================================== -->
<div class="beforefooter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3>This is your final call to action area. Shine like a star, make them want you, tell 'em to
                    push that button!</h3>
                <p>
                    We offer a <span>30 Day Money Back Guarantee</span>, so joining is Risk-Free!
                </p>
                <a class="btn btn-primary btn-lg" href="#">Join us yesterday</a>
            </div>
            <div class="col-md-4 text-right footersocial">
                <h5>Connect with Us</h5>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google"></i>
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-github"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}