{% extends 'index.html' %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}

{% block metablock %}
<meta name="description" content="{{article.description}}">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{article.title}}">
<meta itemprop="description" content="{{article.description}}">
<meta itemprop="image" content="{{article.image_url}}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{article.url}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{article.title}}">
<meta property="og:description" content="{{article.description}}">
<meta property="og:image" content="{{article.image_url}}">
{% endblock %}

{% block content %}
<style>
	/* CSS styles */
	#loading {
		display: none;
		text-align: center;
		padding: 10px;
		font-size: 18px;
		color: #999;
	}
</style>
<div class="container">
	<!-- Content
    ================================================== -->
	<div class="main-content">
		<!-- Begin Article
            ================================================== -->
		<div class="row">
			<!-- Post -->
			<div class="col-sm-8">
				<div class="mainheading">
					<!-- Post Categories -->
					<div class="after-post-tags">
						<ul class="tags">
							<li>
								<a href="#">technology</a>
							</li>
						</ul>
					</div>
					<!-- End Categories -->
					<!-- Post Title -->
					<h1 class="posttitle">{{ article.title }}</h1>
				</div>
				<!-- Post Featured Image -->
				<img class="featured-image img-fluid" src="{{ article.image_url }}" alt="{{ article.title }}">
				<!-- End Featured Image -->
				<!-- Post Content -->
				<div class="article-post">
					{{ article.content|safe }}
					<div class="clearfix">
					</div>
				</div>
				<!-- Post Date -->
				<p>
					<small>
						<span class="post-date">
							<time class="post-date" datetime="2018-01-12">{{ article.published_at }}</time>
						</span>
					</small>
				</p>
				<div class="post-share">
					<span class="post-read-more">
						<a onclick="copyHandler()" id="copy-button" title="Share Story">
							<i class="fa fa-share"></i>
						</a>
					</span>
					<div class="post-share-with">
						<a class="social-sharing" href="https://www.facebook.com/sharer/sharer.php?u={{url}}"
							target="_blank" rel="noopener noreferrer">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="social-sharing"
							href="https://twitter.com/intent/tweet?url={{url}}&amp;text={{article.title}}"
							target="_blank" rel="noopener noreferrer">
							<!-- &amp;via=[TWITTER_HANDLE] -->
							<i class="fa fa-twitter"></i>
						</a>
						<a class="social-sharing"
							href="https://www.linkedin.com/shareArticle?url={{url}}&amp;title={{article.title}}"
							target="_blank" rel="noopener noreferrer">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
				</div>
				<!-- Prev/Next -->
				<div class="row PageNavigation mt-4 prevnextlinks">
					{% for ar in next_prev_articles %}
					<div class="col-md-6 {% cycle 'rightborder' 'text-right' %} pl-0">
						<a class="thepostlink" href="{% url 'article' ar.slug %}">
							{% cycle '«' '»' %}
							{{ar.title}}
						</a>
					</div>
					{% endfor %}
					<!-- <div class="col-md-6  pr-0">
						<a class="thepostlink" href="#">We all wait for summer »</a>
					</div> -->
				</div>
				<!-- End Prev/Next -->
				<!-- Author Box -->
				<!-- <div class="row post-top-meta">
					<div class="col-md-2">
						<img class="author-thumb"
							src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
							alt="Sal">
					</div>
					<div class="col-md-10">
						<a target="_blank" class="link-dark" href="#">Sal</a><a target="_blank"
							href="https://twitter.com/wowthemesnet" class="btn follow">Follow</a>
						<span class="author-description">Author of Affiliates, a template available for
							WordPress, HTML, Ghost and Jekyll. You are currently previewing Jekyll template
							demo.</span>
					</div>
				</div> -->
				<!-- Begin Comments
                    ================================================== -->
				<section>
					<div id="comments">
						<section class="disqus">
							<div id="disqus_thread">
							</div>
							<script type="text/javascript">
								var disqus_shortname = 'demowebsite';
								var disqus_developer = 0;
								(function () {
									var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
									dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
									(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
								})();
							</script>
							<noscript>
								Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments
									powered by Disqus.</a>
							</noscript>
						</section>
					</div>
				</section>
				<!--End Comments
                    ================================================== -->
			</div>
			<!-- End Post -->

			<!-- Sidebar -->
			{% include 'parts/sidebar.html' %}
			<!-- End Sidebar -->

		</div>
		<!-- End Article
            ================================================== -->
	</div>
</div>
<!-- /.container -->
<script>
	const copyButton = document.getElementById('copy-button');
	document.querySelectorAll('.social-sharing').forEach((ele) => {
		ele.href
	})
	copyButton.addEventListener('click', () => {
		const currentUrl = window.location.href;
		navigator.clipboard.writeText(currentUrl).then(() => {
			copyButton.textContent = 'Copy Link';
			setTimeout(() => {
				copyButton.textContent = 'Copied!';
			}, 2000);
		});
	});
</script>
{% endblock %}
{% block script %}
<script src="{% static 'js/subscribe-newsletter.js' %}"></script>
{% endblock %}
