{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-widget">
                    <a href="#">
                        <img src="{% static 'assets/images/logo-footer.jpg' %}" style="border-radius: 15px;"
                            alt="logo footer">
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-widget">
                    <h5 class="title">Resources</h5>
                    <ul>
                        <li><a target="_blank" href="#">Smartphone</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-widget">
                    <h5 class="title">Author</h5>
                    <ul>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'articles' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-widget textwidget">
                    <h5 class="title">Muztech</h5>
                    <p>
                        <a href="{% url 'contact' %}">contact us here</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="pull-left">
                Copyright © 2023 Muzmmil207
            </p>
            <p class="pull-right">
                {% if 1 == 2 %}
                <!-- Leave credit to author unless you own a commercial license: https://www.wowthemes.net/freebies-license/ -->
                <a target="_blank" href="https://www.wowthemes.net/affiliates-free-bootstrap-template/">
                    "Affiliates
                    Template"
                </a> - Design & Code by WowThemes.net
                {% endif %}
            </p>
            <div class="clearfix">
            </div>
        </div>
    </div>
</footer>